$mainColor: #F44A6A;
$colorH: #212D31;
$colorT: #494A4B;
$colorShadow: rgba(0, 0, 0, 0.1);
$mainFont: 'Poppins', sans-serif;
$fontSizeH: 36px;
$fontSizeT: 14px;
$lineHeight: 1.7;
$borderR: 4px;
$mainBorder: 1px solid rgba(45,45,66,0.1);
$mainTransition: all 0.5s ease-in-out;
